h1,p {
 margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TodoContainer {
  background: rgba(97, 218, 250,0.2);
  margin: 10px auto;
  max-width: 800px;
  padding: 10px;
}

.TodoItem {
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.TodoItem:hover {
  background: rgba(0,0,0,0.2);
}

.TodoItem:not(:first-child) {
  border-top: 0.5px solid rgba(255,255,255,0.3);
}

form {
  margin: 10px 0;
}

form * {
  margin: 5px 0;
}

form input, form button {
  width: 100%;
  background: rgba(0,0,0,0.5);
  border: 0;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

form button {
  cursor: pointer;
}